p {
    text-align: left;
}

.email-notifs {
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 24px;
    text-align: left;
}

.MuiPaper-root {
    margin-bottom: 20px;
}

.MuiTable-root {
    border: 1px solid #365069
}

.MuiCardContent-root {
    padding: 16px;
}

.MuiTableCell-head {
    background-color: #365069;
}

.MuiTableCell-root {
    border-bottom: 1px solid #365069;
}

.MuiChip-root {
    margin: 5px;
    font-family: 'Fira Code';
}

