.FeaturecreationRequest {
    width: auto;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.feature-dropdown {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #ddd;
}

.email-id-default {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.response {
    margin-top: 20px;
    margin-bottom: 20px;
}
