/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 86px;
  padding: 0 20px;
  border-bottom: 0.8px solid #E2E2E2;
}

.logo img {
  height: 60px; /* Adjust the logo height as needed */
}

.search-bar {
  flex: 1;
  max-width: 30%;
  margin: 0 auto;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid hsl(0, 30%, 95%);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.right-content {
  /* Add any styling you want for the right content here */
}
