/* SideNav.css */
.side-nav {
    width: 305px;
    background-color: #ffffff;
    height: 100vh;
    border-right: 0.8px solid #E2E2E2;
    text-align: left;
}

.group {
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    
}

.group h2 {
    margin: 0;
    padding: 10px 0px 10px 18px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #353535;
    background-color: #FFF;
}

ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 0;
    margin: 0;
}

a {
    color: #272727;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #B15D21;
}

li {
    font-size: 16px;
    padding: 8px 0;
    cursor: pointer;
    color: #365069;
    background-color: #F7F7FA;
    width: 100% - 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin:0px 18px 10px 18px;
    border: 1px solid #36506914
    
}

.react-icons {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
}

li:hover {
    color: #E24426;
    font-weight: bold;
    background-color: #FFF7F5;
    border: 1px solid #E24426
}

.active {
    color: #E24426;
    font-weight: bold;
    background-color: #FFF7F5;
    border: 1px solid #E24426
}

.hr {
    border: 1px solid #D9D9D9
}
