html, body {
  height: 100%;
}



.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  width: auto;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#page-wrap {
  padding: 24px;
  background-color: #F7F7FA;
  height: auto;
  overflow-wrap: anywhere;
  overflow-y: auto;
}
